<div class="container">
  <div class="inner">
    <app-custom-bar-chart
      class="chart-container"
      [results]="results"
      [animations]="true"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      legendTitle="Legend"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [tooltipDisabled]="true"
      [showGridLines]="true"
      [noBarWhenZero]="false"
      [showDataLabel]="showDataLabel"
      [dataLabelFormatting]="formatDataLabel"
    ></app-custom-bar-chart>
  </div>
</div>
