<svg:g
  ngx-charts-bar
  *ngFor="let bar of bars; trackBy: trackBy"
  [@animationState]="'active'"
  [width]="bar.width"
  [height]="bar.height"
  [x]="bar.x"
  [y]="bar.y"
  [fill]="bar.color"
  [stops]="bar.gradientStops"
  [data]="bar.data"
  [orientation]="barOrientation.Horizontal"
  [roundEdges]="bar.roundEdges"
  (select)="click($event)"
  [gradient]="gradient"
  [isActive]="isActive(bar.data)"
  [ariaLabel]="bar.ariaLabel"
  [animations]="animations"
  (activate)="activate.emit($event)"
  (deactivate)="deactivate.emit($event)"
  ngx-tooltip
  [tooltipDisabled]="tooltipDisabled"
  [tooltipPlacement]="tooltipPlacement"
  [tooltipType]="tooltipType"
  [tooltipTitle]="tooltipTemplate ? undefined : bar.tooltipText"
  [tooltipTemplate]="tooltipTemplate"
  [tooltipContext]="bar.data"
  [noBarWhenZero]="noBarWhenZero"
></svg:g>
<svg:g *ngIf="showDataLabel">
  <svg:g
    ngx-bar-label
    *ngFor="let b of barsForDataLabels; let i = index; trackBy: trackDataLabelBy"
    [barX]="b.x"
    [barY]="b.y"
    [barWidth]="b.width"
    [barHeight]="b.height"
    [value]="b.total"
    [data]="b.data"
    [valueFormatting]="dataLabelFormatting"
    [orientation]="barOrientation.Horizontal"
    (dimensionsChanged)="dataLabelWidthChanged.emit({ size: $event, index: i })"
  />
</svg:g>
